<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/src/css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>

<body class="flex flex-row h-[100vh] justify-center items-center">
    <form class="w-[550px] h-max shadow p-4 flex flex-col gap-3">
        <p class="capitalize text-4xl text-center font-semibold font-sans ">reset account password</p>
        <p class="text-center mt-2 text-xl">Reset password for account <%=email%>
        </p>
        <div class="flex flex-col gap-2 mt-4">
            <input required class="border border-gray-200 px-2 py-3 placeholder:capitalize text-lg" type="password"
                name="rp" id="rp" placeholder="enter password">
            <input required class="border border-gray-200 px-2 py-3 placeholder:capitalize text-lg" type="password"
                name="rp" id="crp" placeholder="enter confirm password">
        </div>
        <input class="capitalize cursor-pointer rounded-2xl m-auto block px-5 py-3 bg-gray-600 text-white text-xl tracking-wide font-medium mt-4 "
            type="submit" value="reset password" onclick="handleSubmit(event)">
    </form>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="/src/js/toast.js"></script>
</body>
<script>
    async function handleSubmit(event, token) {
        event.preventDefault()
        const password = document.getElementById('rp').value
        const cpassword = document.getElementById('crp').value
        if (password === cpassword) {
            const res = fetch('http://localhost:8082/user/setnewpassword', {
                method: 'POST',
                headers: {
                    'content-type': 'application/json',
                    'Authorization': '<%=token%>'
                },
                body: JSON.stringify({ password })
            })
            const response = await res.json()
            console.log(response)
        }else{
            alert('password do not match')
        }
    }
</script>

</html>